h1 Login
div(style="font-size: 2em;")
    span Email
    br
    input(id="idEmail" name="email" type="email")
    br
    span Password
    br
    input(id="idPassword" name="password" type="password")
    br
    button(id="idLogin") Login

style.
    input {
        height: 2.5em;
        width: 50%;
    }
