h1 Sign Up
div(style="font-size: 2em;")
    span Name
    br
    input#idName(name="name" type="name")
    br
    span SID:
    br
    input#idSid(name="sid" type="number")
    br
    span Email
    br
    input(id="idEmail" name="email" type="email")
    br
    span Password
    br
    input(id="idPassword" name="password" type="password")
    br
    button#idSignup Signup

style.
    input {
        height: 2.5em;
        width: 50%;
    }
